.btn {
  display: inline-block;
  font-weight: 300;
  font-size: 0.75rem;
  cursor: pointer;
  border: none;
  min-width: 260px;
}

.btn--md {
  padding: 1rem 1.5rem;
}

.btn--full {
  width: 100%;
}

/* Color variant */
.btn--black {
  background-color: #000000;
  color: white;
}

.btn--white {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #1b1a18;
}

/* Disabled */
.btn--disabled,
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

@media (max-width: 600px) {
  .btn {
    min-width: unset;
  }
}
