.phone-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0px;
  width: 100%;
}

@media (max-width: 768px) {
  .phone-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }
}
