.phone-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0px;
  width: 100%;
  max-width: 1200px;
}

@media (min-width: 768px) {
  .phone-header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
