.search-bar {
  border-bottom: 0.5px solid #000000;
  margin-top: 1rem;
  padding-bottom: 8px;
  font-size: 1rem;
  color: #000000;
}

.search-bar input {
  padding: 0;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  font-size: inherit;
}

.search-bar input::placeholder {
  color: #aaaaaa;
}
