/* -------------------- RESET -------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-block-size: 100vh;
  line-height: 1.6;
}

h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h2 {
  font-weight: 300;
  font-size: 1.25rem;
}

p,
li {
  text-wrap: pretty;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
}

/* -------------------- ROOT VARIABLES -------------------- */
:root {
  --ff-heading: Helvetica, Arial, sans-serif;
  --ff-body: Helvetica, Arial, sans-serif;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3.75rem;
  --fs-1000: 3.75rem;

  @media (width > 760px) {
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 3rem;
    --fs-900: 5rem;
    --fs-1000: 7.5rem;
  }

  --font-size-sm: var(--fs-300);
  --font-size-regular: var(--fs-400);
  --font-size-md: var(--fs-500);
  --font-size-lg: var(--fs-600);
}

/* -------------------- BASE STYLES -------------------- */
body {
  font-family: var(--ff-body);
  font-size: var(--font-size-regular);
  color: var(--text-main);
}

/* -------------------- UTILITIES -------------------- */
.text-center {
  text-align: center;
}

.font-size-sm {
  font-size: var(--font-size-sm);
}

.font-size-regular {
  font-size: var(--font-size-regular);
}

.font-size-md {
  font-size: var(--font-size-md);
}

.font-size-lg {
  font-size: var(--font-size-lg);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.app-container {
  padding-inline: 100px;
  @media screen and (max-width: 768px) {
    padding-inline: 1rem;
  }
}
